body
  background-color #69af27
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

h1
  font-size 60px
  color #ffffff

p
  color #ffffff

a
  color #ffffff

a:hover
  text-decoration none

a:visited
  text-decoration none
  color #ffffff

::selection
  background-color black
  color #ffffff

footer
  margin-top 100px

#logo
  margin-top 60px
  margin-bottom 60px
  max-width 500px

.about
  position fixed
  left 0px
  bottom 0px
  margin 0px 0px 10px 30px
  p
    font-weight bold

.about-modal
   p
    color black

.modal-content
   padding 20px

.btn
  padding 20px 20px 10px 20px
  border 1px solid #2d6d51
  margin-bottom 30px
  background-color #2a4273
  p
    font-family Helvetica Neue, Helvetica, Arial
    font-size 18px
    color #ffffff
  &:hover
    color white

.share
  margin-bottom 15px
  margin-right 10px
  position fixed
  right 0px
  bottom 0px
  img
    display inline
    margin 0 6px
    width 35px

@media only screen and (max-device-width: 480px)

  p
    font-size 14px
    color #ffffff

  #logo
    width 250px
    margin-top 30px
    margin-bottom 20px

  .btn
    padding 15px 15px 5px 15px
    margin-bottom 5px
    background-color #2a4273
    p
      font-family Helvetica Neue, Helvetica, Arial
      font-size 13px
      color #ffffff
    &:hover
      color white

  #social
    margin-top 10px

  h1
    font-size 30px
    color #ffffff

  .share
  margin-bottom 10px
  margin-right 10px
  position fixed
  right 0
  bottom 0
  img
    display inline
    margin 0 3px
    width 20px