body
  background-color #951502

h1
  color #ffffff

.first
  margin-top 250px

.btn
  padding 15px
  background-color darkslategrey
  margin 30px
  font-family Helvetica Neue, Helvetica, Arial
  color #ffffff
  &:hover
    color white