body
  background-color #ff4f4c

p
  font-size 30px
  color #ffffff

#logo
  margin-top 100px
  width 500px

.first
  margin-top 100px

.btn
  padding 15px
  background-color darkslategrey
  margin 30px
  font-family Helvetica Neue, Helvetica, Arial
  color #ffffff
  &:hover
    color white


@media only screen and (max-device-width: 480px)

  p
    font-size 30px
    color #ffffff

  #logo
    width 300px
    margin-top 40px

  .first
    margin-top 60px
